<div id="<%= dom_id motoristum %>">
  <p>
    <strong>Nome:</strong>
    <%= motoristum.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= motoristum.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= motoristum.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= motoristum.telefone %>
  </p>

  <p>
    <strong>Cnh:</strong>
    <%= motoristum.cnh %>
  </p>

</div>
