<h1>Buscar Motoristas</h1>

<%= form_tag buscar_motorista_motorista_path, method: :get do %>
  <%= label_tag :query, "Digite o nome, CPF ou email do motorista:" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Buscar" %>
<% end %>

<% if @results.any? %>
  <h2>Resultados da Busca:</h2>
  <% @results.each do |motoristum| %>
    <%= render motoristum %>
    <p>
      <%= link_to "Show this motoristum", motoristum %>
    </p>
  <% end %>
<% else %>
  <p>Nenhum motorista encontrado.</p>
<% end %>

<%= link_to "Back to Home Motorista", home_motorista_url %>
