<div id="<%= dom_id rotum %>">
  <p>
    <strong>Nome:</strong>
    <%= rotum.nome %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= rotum.valor %>
  </p>

  <p>
    <strong>Distancia:</strong>
    <%= rotum.distancia %>
  </p>

  <p>
    <strong>Duracao:</strong>
    <%= rotum.duracao %>
  </p>

  <p>
    <strong>Inicio:</strong>
    <%= rotum.inicio %>
  </p>

  <p>
    <strong>Fim:</strong>
    <%= rotum.fim %>
  </p>

  <p>
    <strong>Origem:</strong>
    <%= rotum.origem %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= rotum.destino %>
  </p>

  <p>
    <strong>Onibus:</strong>
    <%= rotum.onibus_id %>
  </p>

</div>
