<div id="<%= dom_id parada %>">
  <p>
    <strong>Numero:</strong>
    <%= parada.numero %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= parada.nome %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= parada.rua %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= parada.bairro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= parada.cep %>
  </p>

</div>
