<div id="<%= dom_id onibus %>">
  <p>
    <strong>Placa:</strong>
    <%= onibus.placa %>
  </p>

  <p>
    <strong>Chassi:</strong>
    <%= onibus.chassi %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= onibus.modelo %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= onibus.capacidade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= onibus.status %>
  </p>

</div>
